/alexa-skills-shopping-cart.iml
/.DS_Store
/src
/src/.DS_Store
/src/main
/src/main/.DS_Store
/src/main/java
/src/main/java/.DS_Store
/src/main/java/panjieke
/src/main/java/panjieke/.DS_Store
/src/main/java/panjieke/sample
/src/main/java/panjieke/sample/.DS_Store
/src/main/java/panjieke/sample/alexa
/src/main/java/panjieke/sample/alexa/.DS_Store
/target
/target/original-shopping-1.0.0-SNAPSHOT.jar
/target/shopping-1.0.0-SNAPSHOT.jar
/target/maven-archiver
/target/classes
/target/classes/log4j.properties
/target/classes/panjieke
/target/classes/panjieke/sample
/target/maven-status
/target/maven-status/maven-compiler-plugin
/.idea
/.idea/modules.xml
/.idea/misc.xml
/.idea/compiler.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_4.xml
/.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_cbor_2_6_6.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_3_2.xml
/.idea/libraries/Maven__com_amazonaws_jmespath_java_1_11_109.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_2.xml
/.idea/libraries/Maven__com_amazon_alexa_alexa_skills_kit_1_2.xml
/.idea/libraries/Maven__joda_time_joda_time_2_0.xml
/.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_25.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
/.idea/libraries/Maven__com_amazonaws_aws_lambda_java_events_1_3_0.xml
/.idea/libraries/Maven__com_amazonaws_aws_java_sdk_core_1_11_109.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_6.xml
/.idea/libraries/Maven__com_amazonaws_aws_java_sdk_dynamodb_1_11_0.xml
/.idea/libraries/Maven__com_amazonaws_aws_lambda_java_core_1_1_0.xml
/.idea/libraries/Maven__com_amazonaws_aws_java_sdk_s3_1_11_109.xml
/.idea/libraries/Maven__com_amazonaws_aws_lambda_java_log4j_1_0_0.xml
/.idea/libraries/Maven__log4j_log4j_1_2_17.xml
/.idea/libraries/Maven__com_amazonaws_aws_java_sdk_sqs_1_11_0.xml
/.idea/libraries/Maven__com_amazonaws_aws_java_sdk_kms_1_11_109.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_3_2.xml
/.idea/libraries/Maven__com_amazonaws_aws_java_sdk_cognitoidentity_1_11_0.xml
/.idea/libraries/Maven__software_amazon_ion_ion_java_1_0_2.xml
/.idea/libraries/Maven__com_amazonaws_aws_java_sdk_kinesis_1_11_0.xml
/.idea/libraries/Maven__commons_io_commons_io_2_4.xml
/.idea/libraries/Maven__com_amazonaws_aws_java_sdk_sns_1_11_0.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_0.xml
/.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_0_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_3_2.xml
